/* Encadrés */

div.note {
  margin: 20px 0;
  padding: 10px;
  border: solid 1px #a1d0ef;
  background-color: #eef6fc;
}

div.important {
  margin: 20px 0;
  padding: 10px;
  border: solid 1px #f19fa2;
  background-color: #fdefed;
}

div.commentaire {
  margin: 20px 0;
  padding: 10px;
  border: solid 1px #a6acaf ;
  background-color: #ecf0f1 ;
}